<!DOCTYPE html>
<html>
    <head>
        <script src="./mockData.js"></script>
        <script src="./carousel.js"></script>
        <link rel="stylesheet" type="text/css" href="carousel_local.css" />
        <link rel="stylesheet" type="text/css" href="carousel.css" />
    </head>
    <body>
        <div id="vsny-carousel">
            <div class="tile-list-container">
                <div class="tile-list">
                    <!-- Lets have some skeleton tiles to begin with to indicate fetching content -->
                    <div class="tile">
                        <div class="skeleton-loader">
                            <div class="skeleton-image"></div>
                            <div class="skeleton-line"></div>
                            <div class="skeleton-line"></div>
                            <div class="skeleton-line"></div>
                            <div class="skeleton-button"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-btn carousel-btn-left" onclick="slideToPrevTile()">
                <svg viewBox="0 0 44 18" xmlns="http://www.w3.org/2000/svg">
                    <path class="btn-arrow" d="M9.90649 16.96L2.1221 9.17556L9.9065 1.39116"></path>
                    <path class="btn-arrow" d="M42.8633 9.18125L3.37868 9.18125"></path>
                </svg>
            </button>
            <button class="carousel-btn carousel-btn-right" onclick="slideToNextTile()">
                <svg viewBox="0 0 44 18" xmlns="http://www.w3.org/2000/svg">
                    <path class="btn-arrow" d="M34.1477 1.39111L41.9321 9.17551L34.1477 16.9599"></path>
                    <path class="btn-arrow" d="M1.19088 9.16982H40.6755"></path>
                </svg>
            </button>
        </div>
    </body>
</html>