:root {
    --accent-hsl: 19.7080292,55.91836735%,48.03921569%;
    --darkAccent-hsl: 202.14285714,77.77777778%,21.17647059%;
    --lightAccent-hsl: 211.30434783,23.71134021%,80.98039216%;
    --safeLightAccent-hsl: 19.7080292,55.91836735%,48.03921569%;
    --safeDarkAccent-hsl: 19.7080292,55.91836735%,48.03921569%;
    --safeInverseAccent-hsl: 0,0%,100%;
    --safeInverseLightAccent-hsl: 0,0%,100%;
    --safeInverseDarkAccent-hsl: 0,0%,100%;
    --black-hsl: 222.43902439,74.54545455%,10.78431373%;
    --white-hsl: 192,16.12903226%,93.92156863%;
}

body {
    margin: 0;
    height: 100vh;
}