:root {
    --accent-hsl: 19.7080292,55.91836735%,48.03921569%;
    --darkAccent-hsl: 202.14285714,77.77777778%,21.17647059%;
    --lightAccent-hsl: 211.30434783,23.71134021%,80.98039216%;
    --safeLightAccent-hsl: 19.7080292,55.91836735%,48.03921569%;
    --safeDarkAccent-hsl: 19.7080292,55.91836735%,48.03921569%;
    --safeInverseAccent-hsl: 0,0%,100%;
    --safeInverseLightAccent-hsl: 0,0%,100%;
    --safeInverseDarkAccent-hsl: 0,0%,100%;
    --black-hsl: 222.43902439,74.54545455%,10.78431373%;
    --white-hsl: 192,16.12903226%,93.92156863%;
}

body {
    margin: 0;
    height: 100vh;
}

/*
    ONLY COPY THE BELOW CSS INTO VIEW.HTML TO BE USEABLE FOR SQUARESPACE

    THE CSS ABOVE IS TO ONLY OCALLY MOCK CSS CONDITIONS IN SQUARESPACE
*/

:root {
    --carousel-btn-size: 70px;
}

#vsny-carousel {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: 320px;

    .tile-img-container {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        div {
            height: 90%;
            img {
                object-fit: cover;
                object-position: top;
                height: 100%;
                aspect-ratio: 1 / 1;
                border-radius: 100%;
            }    
        }
    }


    .tile-text {
        text-align: center;

        .date-header {
            color: hsl(var(--safeDarkAccent-hsl));
            font-size: 1.5rem;
            margin: 0;
        }
    }

    .register {
        background-color: hsl(var(--safeDarkAccent-hsl));
    }

    .tile-btn-link {
        text-decoration: none;
        color: hsl(var(--safeInverseDarkAccent-hsl));
        padding: .9rem 1.2rem;
        border-radius: 0.4rem;
        box-sizing: border-box;
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
        line-height: normal;
    }

    .tile-btn-link:hover {
        opacity: 0.8;
    }

    .tile {
        height: 100%;
        background-color: hsl(var(--white-hsl));
        overflow: hidden;
    }

    .tile[status="Cancelled"]::before {
        content: "CANCELLED";
        position: absolute;
        top: 45%;
        background: hsl(var(--darkAccent-hsl));
        color: hsl(var(--safeInverseDarkAccent-hsl));
        padding: .9rem 1.2rem;
        border-radius: 0.4rem;
        box-sizing: border-box;
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
    }

    .tile[status="Cancelled"]:hover {
        opacity: 1;
    }

    .tile[status="Cancelled"] {
        opacity: 50%;
        cursor: not-allowed;

        button, a {
            pointer-events: none;
            background-color: lightgray;
        }
    }

    .align-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tile-list-container {
        height: 100%;
        width: 80%;
        overflow: hidden;
    }

    .tile-list {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .transition-effect {
        transition: transform 500ms ease 0s;
    }

    .carousel-btn {
        position: absolute;
        svg {
            fill: white;
            .btn-arrow {
                stroke: white;
                fill: none;
                stroke-width: 2px;
                stroke-linejoin: round;
                stroke-linecap: round;
            }
            width: 40px;
        }
        border: none;
        cursor: pointer;
        background-color: hsl(var(--safeDarkAccent-hsl));
        opacity: 0.7;
        width: var(--carousel-btn-size);
        height:var(--carousel-btn-size);
        border-radius: 100%;
        align-self: center;
    }

    @media (max-width:480px)  {
        height: calc(100% - var(--carousel-btn-size) - 1rem);

        .tile-list-container {
            width: 100%;
        }

        .carousel-btn-right {
            top: calc(100% - var(--carousel-btn-size) - 0.5rem);
            right: calc(30% - 40px);
        }

        .carousel-btn-left {
            top: calc(100% - var(--carousel-btn-size) - 0.5rem);
            left: calc(30% - 40px);
        }
    }

    @media (min-width:480px)  {
        .carousel-btn-right {
            right: 5%
        }
        
        .carousel-btn-left {
            left: 5%
        }
    }

    .carousel-btn:hover {
        opacity: 1;
    }
}