.display-picture {
    border-radius: 100%;
    height: 30%;
}

.tileDescription {
    font-size: 0.4em;
    text-align: center;
}

.tile {
    height: 25vh;
    width: 25vh;
    background-color: hsla(192, 16.12903226%, 93.92156863%);
    padding: 1em;
    margin: 0.5em;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tileList {
    display: flex;
    flex-direction: row;
}